#cloud-config
users:
  - name: ubuntu
    groups: sudo
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINu/73unLrkpwVchhu6Tpf5gkDjGu2WXBdATLeAdUXWq guycohen@Guys-Air.home

package_update: true
packages:
  - python3
  - python3-apt

runcmd:
  - [ systemctl, enable, ssh ]
  - [ systemctl, start, ssh ]
